@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
* {box-sizing: border-box;-moz-box-sizing: border-box; -ms-box-sizing: border-box;-o-box-sizing: border-box;-webkit-box-sizing: border-box; margin: 0;outline: medium none;padding: 0; text-decoration:none;}
body{margin:0 auto; padding:0;height:100%;font-size: 14px;line-height:1.42857143;font-family:Roboto, sans-serif; -webkit-overflow-scrolling : touch; position:relative;background:#edf2f3; }

header {
    background: #000;
    text-align: left;
    position: fixed;
    width: 100%;
    min-height: 54px; top: auto; height: 66px; z-index: 100;
}
nav { position: fixed; width: 100%; top: 66px; background: #ececec;   }
ul, ol, li{ list-style:none; margin:0; padding:0; background:none; }
a {text-decoration: none;border: 0;outline: none; cursor: pointer; color: #000;}
a:hover, a:active, a:visited, a:focus {text-decoration: none; outline: 0 none; cursor: pointer;color: #000; }

.rfloat {float:right;}
.lfloat {float:left;}
.no-float {float:none;}
.padding15 { padding: 15px }
.padding10 { padding: 10px }
.margin20 { margin: 20px; }

.container {
    /*background-color: #fff;*/padding:10px; position: relative;
}
.logo { color: #ececec; /*text-transform: uppercase;*/ font-variant: petite-caps;}

li { float: left; }
.nav-toolbar>li>div { display: block;padding: 10px 20px; text-transform: uppercase; cursor: pointer;  }
.cart-div>div{ float: right; color: #fff;padding: 10px; cursor: pointer;}

footer { display: flex; margin-top: 150px; }
.footer-container { background-color: #000;text-align: left; width: 100%; color: #edf2f3;/*position: fixed; */bottom: 0px;height: 55px;clear: both;}
.footer-text { font-variant: petite-caps; }
.wrapper-div { position: relative; }
.wrapper-div>div { width:100%; height:250px; background-color: #fff; float: left; position: relative;  margin:0px 15px;}
.wrapper-div>div>span>img, .wrapper-div img { width:100%; }
.wrapper-div>div>span { bottom:0; text-transform: uppercase; text-align: center !important;  position: relative;}

.wrapper-div-listing {position: relative;}
.wrapper-div-listing div { width:100%; height:400px; float: left;  margin:15px;}
.wrapper-div-listing img { width:100%; height:80%; background-color: #fff;}
.wrapper-div-listing span { bottom:0; text-transform: uppercase; text-align: center; display: block; position: relative;}
.wrapper-div-listing .product_txt {display: block;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*#incart { border: 1px solid #fff;padding: 2px; }*/


#product,#cartpage {top:130px;}
 .wrapper-div-product {width:80%; height:500px; float: left;  margin:15px;}
 .wrapper-div-product img, .wrapper-div-cart img { width:100%; height:100%; background-color: #fff;}

 .wrapper-div-cart {width:80%; height:200px; float: left;  margin:15px;}
 .wrapper-div-cart>div {background-color: #fff;}
 

 #place_order { width: 50%; text-transform: uppercase; }
 .login-container {  position: fixed;top: 30%;left: 35%; }
 #logintxt { color: red; }