<!DOCTYPE html>
<html>
<head>

	<title>My Shoppie | Shop Online</title>

	<meta charset="utf-8"/>
	<meta title="My Shoppie | One Stop Destination For Your Shopping Needs"/>

	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/bootstrap-grid.min.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/common.js"></script>
	<style type="text/css">
		
	</style>

</head>	
<body >


	<header class="homepage-header">

	    <div class="container">
	      	<div class="row">
	      		<div class="col-md-3 col-lg-3">
	      			<a onclick="gotopage('index')"><h2 class="logo" >My Shoppie</h2></a>
	      		</div>
	      		<div class="col-md-8 col-lg-8 cart-div">
	      			<div title="Buy Now" onclick="buyNow()">Cart<span id="incart"></span></div>
	      			<div>Wishlist</div>
	      			<div id="loggedIn_user"></div>
	      		</div>
	      	</div>

	     </div> 
		

		<nav>
			<div class="container">
				<div class="row">
					<ul class="nav-toolbar">
						<li><div><a href='./listing.php#women'>WOMEN</a></div></li>
						<li><div><a href='./listing.php#men'>MEN</a></div></li>
						<li><div><a href='./listing.php#kids'>KIDS</a></div></li>
						<li><div><a href='./listing.php#beauty'>BEAUTY PRODUCTS</a></div></li>
						<li><div><a href='./listing.php#homeshop'>HOMESHOP</a></div></li>
						<li><div><a href='./listing.php#furniture'>FURNITURE</a></div></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
